.main {
    margin: 0 auto;
    width: 85vw;
    height: 100%;
}

.main img {
    display: block;
    max-width: 100%;
    width: 100%;
    margin-bottom: .5em;
    border-radius: 10px;
    transition: opacity 0.2s ease;
}

.main img:hover {
    opacity: 0.6;
    cursor: pointer;
}

.gallery {
    columns: 4 200px;
    column-gap: 0.5em;
}
