.login {
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url("/public/assets/Galaxy_login.jpg");
  background-size: cover;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-forms {
  width: 30vw;
  height: auto;
  background: rgba(40, 40, 40, 0.5);
  border-radius: 10px;
  padding: 20px 40px;
  box-shadow: 0 0 10px var(--textcolor);
}

.login-forms__title {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 25px;
}

.login-forms__title img {
  display: block;
  max-height: 60px;
  margin-right: 10px;
}

.login-forms__buttons {
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 30px;
}

.login-forms__buttons div {
  background-color: var(--bgcolor-3);
  padding: 5px 20px;
  border-radius: 30px;
  cursor: pointer;
}

.login-forms__inputs label {
  display: block;
  font-size: .9em;
  margin-left: 10px;
  margin-bottom: 5px;
}

.login-forms__inputs input {
  display: block;
  width: 95%;
  padding: 10px 10px;
  border: none;
  border-radius: 20px;
  margin-bottom: 25px;
  background-color: var(--bgcolor-2);
  color: var(--textcolor);
  font-size: 1em;
}

.login-forms__submit {
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-forms__submit div {
  background-color: var(--bgcolor-3);
  padding: 15px 20px;
  border-radius: 30px;
  cursor: pointer;
}