.transparent {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    backdrop-filter: blur(8px);
}

.stickerInfo {
    width: 75vw;
    height: 75vh;
    background-color: var(--bgcolor-1);
    border-radius: 20px;
    box-shadow: 0px 0px 10px var(--textcolor);
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
}

.stickerInfo-img {
    background-color: var(--bgcolor-4);
    border-radius: 20px 0px 0px 20px;
    width: 50%;
}

.stickerInfo-maincontent {
    position: relative;
    width: 50%;
    display: grid;
    grid-template-rows: 90% 10%;
}

.stickerInfo-content {
    padding: 20px;
}

.stickerInfo__title {
    font-size: 2em;
    font-weight: 600;
    margin-bottom: 20px;
}

.stickerInfo__description {
    font-size: 1em;
    font-weight: 200;
    margin-bottom: 10px;
}

.stickerInfo__date {
    font-size: 0.8em;
    color: var(--bgcolor-5);
    font-style: italic;
    margin-bottom: 10px;
}

.stickerInfo__about {
    margin-bottom: 15px;
    display: flex;
    justify-content: flex-start;
}

.about-category {
    background-color: var(--bgcolor-3);
    padding: 5px 15px;
    border-radius: 30px;
    margin-right: 20px;
    text-align: center;
    line-height: 20px;
    font-size: 0.8em;
    font-weight: 600;
}

.about-likes {
    width: 30%;
    line-height: 30px;
    font-size: 0.8em;
    display: flex;
}

.likes-icon {
    background-color: var(--bgcolor-3);
    height: 100%;
    aspect-ratio: 1/1;
    border-radius: 50%;
    margin-right: 5px;
}

.stickerInfo__author {
    height: 40px;
    line-height: 40px;
    font-size: 0.9em;
    font-weight: 600;
    margin-bottom: 10px;
    display: flex;
}

.author-img {
    background-color: var(--bgcolor-3);
    height: 100%;
    aspect-ratio: 1/1;
    border-radius: 50%;
    margin-right: 10px;
}

.stickerInfo-comments {
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
}

.comment-title {
    font-size: 1.2em;
    font-weight: 600;
    margin-bottom: 5px;
}

.comments {
    overflow-y: auto;
}

.stickerInfo-com {
    background-color: var(--bgcolor-2);
    border-radius: 0px 0px 20px 0px;
    padding: 10px 20px;
    display: flex;

}

.com-userimg {
    background-color: var(--bgcolor-3);
    height: 100%;
    aspect-ratio: 1/1;
    border-radius: 50%;
    margin-right: 10px;
}

.com-comment {
    width: 100%;
    background-color: var(--bgcolor-3);
    border-radius: 25px;
    padding: 0 10px;
    display: flex;
}

.com-comment__input {
    width: 100%;
    height: 100%;
    background-color: transparent;
    border: none;
    outline: none;
    color: var(--textcolor);
    font-size: 1em;
    margin-right: 10px;
}

.com-comment__enter {
    background-color: var(--bgcolor-2);
    height: 80%;
    aspect-ratio: 1/1;
    border-radius: 50%;
    margin: auto;
}

.back {
    color: var(--bgcolor-5);
    margin-left: 10px;
    font-size: 2em;
    cursor: pointer;
}

.stickerInfo-carrito {
    position: absolute;
    color: var(--bgcolor-3);
    font-size: 2em;
    right: 0;
    margin-right: 30px;
    margin-top: 20px;
    cursor: pointer;
}